<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-language" content="en">
  <meta name="keywords" content="solutions, savchenko, physics problems, olympiad physics, physics book">
  <meta name="description" content="A website with solutions to physics problems from Savchenko Textbook">
  <meta property="og:title" content="Savchenko Solutions">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:description" content="A website with solutions to physics problems from Savchenko Textbook">
  <meta name="yandex-verification" content="6cfda41f74038368">
  <title>Savchenko Solutions</title>
  <link rel="stylesheet" href="https://savchenko-physics.github.io/css/css-latex/style.css">
  <link rel="icon" href="https://savchenko-physics.github.io/img/logo.png" type="image/png">
  <script src="https://savchenko-physics.github.io/js/jquery-1.10.1.min.js"></script>
  <link rel="stylesheet" href="https://savchenko-physics.github.io/css/css-latex/style.css">
  {% include mathjax.html %}
</head>
<body>
    <header style="text-align:center;">
    <h2>Solutions of Savchenko Physics Textbook</h2>
    <p class="author">
      Aliaksandr Melnichenka <br/>
      October 2023
    </p>
  </header>

  <h3 id="back-link"><a href="../">$\leftarrow$Back</a></h3>

  <main>
    {{ content }}
  </main>
  
  <footer class="row container">
    <br>
      <p>
          <small> © <strong>Savchenko Solutions</strong>, 2023-2024 <br></small>
      </p>
      <p>
          <small>All rights belong to the authors. <br> Commercial use of materials - with the written permission of the authors. <br> astrosander01@gmail.com <br></small>
      </p>
  </footer>
</body>
</html>
