---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="en">
    <meta name="keywords" content="solutions, savchenko, physics problems, olympiad physics, physics book">
    <meta name="description" content="A website with solutions to physics problems from Savchenko Textbook">
    <meta property="og:title" content="Savchenko Solutions">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:description" content="A website with solutions to physics problems from Savchenko Textbook">
    <meta name="yandex-verification" content="6cfda41f74038368"> -->
    <title>{{ page.title }}</title>
<!--     <link rel="stylesheet" href="https://savchenko-physics.github.io/css/css-latex/style.css">
    <link rel="icon" href="https://savchenko-physics.github.io/img/logo.png" type="image/png">
    <script src="https://savchenko-physics.github.io/js/jquery-1.10.1.min.js"></script> -->
    <link rel="stylesheet" href="https://savchenko-physics.github.io/css/css-latex/style.css">
  {% include mathjax.html %}
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    &copy; {{ site.time | date: "%Y" }} {{ site.title }}
  </footer>
</body>
</html>
